{% load staticfiles %}

<div class="row">
    {% for game in games %}
    <div class="col-sm-4 my-3">
        <div class="card">
          <a href="/games/{{ game.id }}">
              {% if not game.picture_url %}
                <img class="card-img-top" src="{% static 'images/default_pic.png' %}" alt="Default Game Picture">
              {% else %}
                <img class="card-img-top" src={{ game.picture_url }} alt="Game Picture">
              {% endif %}
          </a>
          <div class="card-body">
            <h5><a class="card-title" href="/games/{{ game.id }}">{{ game.name }}</a></h5>
            <p class="card-text">Category: {{ game.get_category_display }}<br>
                                 Price: {{ game.price }} &euro;<br>
                                 Age limit: {{ game.age_limit }}+
            </p>
            {% if wishlist %}
                <button name="deletegame" type="submit" value="{{game.id}}" class="btn btn-danger btn-block">Delete from wishlist</button>
            {% endif %}
          </div>
        </div>
    </div>
    {% empty %}
    <div class="col-sm-6 my-3">
        {{ search_applied|yesno:"No games found with this filters, You have no games yet" }} 
    </div>
    {% endfor %}
</div>