{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h2>Login form</h2>
<form method="post" action="">{% csrf_token %}
  {% if errors %}
    <div class="errors">
      <b><span style="color:red">Errors:</span></b>
      {{ errors }}
      <b><span style="color:red">Please, try again!</span></b>
    </div>
    {% endif %}
  <div class="mb-3">
      <label for="username">Username</label>
      <div class="input-group"> 
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
          <input type="text" class="form-control" id="username" placeholder="Username" maxlength="50" value="{{username|default_if_none:""}}" name="username">
      </div>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" maxlength="50" value="{{password|default_if_none:""}}" name="password">
    </div>
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <button type="submit" class="btn btn btn-primary btn-block">Submit</button>
        <span>New here? <a href="/signup">Signup</a></span>
      </div>
    </div>
  </form>
{% endblock %}

