{% extends "base.html" %}
{% load static %}

{% block title %}{{user.username}} profile{% endblock %}

{% block content %}

<br />
<div class="card">
    <div class="row">
		<aside class="col-sm-5">
        <article class="gallery-wrap">
            <div>
                {% if not userprofile.photoUrl %}
                    <img class="card-img-top" src="{% static 'images/default_pic.png' %}" alt="Default Profile Picture">
                {% else %}
                    <img class="card-img-top" src="{{ userprofile.photoUrl }}" alt="Profile Picture">
                {% endif %}
            </div>
        </article>
        </aside>
        <aside class="col-sm-7">
        <article class="card-body p-5">
                <h4 class="title">{{user.first_name}} {{user.last_name}}</h4>
                <hr>
                {% if userprofile.city or userprofile.country %}
                    <small><cite title="">{{userprofile.city}} {{userprofile.country}} <i class="fas fa-map-marker-alt"></i></cite></small>
                {% endif %}
                <p>
                <div>
                    <i class="fas fa-user-circle mb-2"></i> {{user.username}}<br />
                    <i class="fas fa-envelope mb-2"></i> {{user.email}}<br />
                    <i class="fas fa-user mb-2"></i> {{userprofile.get_gender_display}}<br />
                    <i class="fas fa-gift mb-2"></i> {{userprofile.birthDate}}<br />
                    {% if userprofile.birthDate %}
                        <i class="fas fa-graduation-cap"></i>{{userprofile.bio}}
                    {% endif %}
                </div>
                </p>
        </article>
        </aside>
    </div>
</div>


{% endblock %}