{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1>Your profile</h1>
<form action="" method="post">{% csrf_token %}
    {% for field in userform %}
    <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-4 col-form-label">{{ field.label }}</label>
            <div class="col-8">
            {% if field.name == 'username' %}
                <div class="input-group"> 
                    <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                    </div>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="text-muted">
                            {{ field.help_text }}
                        </small>
                    {% endif %}
                    {% if field.errors %}
                        <small style="color:red">
                            {{ field.errors }}
                        </small>
                    {% endif %}
                </div>
            {% else %}
                {{ field }}
                {% if field.help_text %}
                    <small style="color:red" class="text-muted">
                        {{ field.help_text }}
                    </small>
                {% endif %}
                {% if field.errors %}
                    <small style="color:red">
                        {{ field.errors }}
                    </small>
                {% endif %}
            {% endif %}
            </div>
    </div>
    {% endfor %}
    {% for field in profileform %}
    <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-4 col-form-label">{{ field.label }}</label>
            <div class="col-8">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted">
                        {{ field.help_text }}
                    </small>
                {% endif %}
                {% if field.errors %}
                    <small style="color:red">
                        {{ field.errors }}
                    </small>
                {% endif %}
            </div>
    </div>
    {% endfor %}
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="updateprofile" type="submit" class="btn btn-primary">Update My Profile</button>
        </div>
    </div>
</form>
<h2>Change your password</h2>
<form action="" method="post">{% csrf_token %}
    {% for field in changepasswordform %}
    <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-4 col-form-label">{{ field.label }}</label>
            <div class="col-8">
                {{ field }}
                {% if field.help_text %}
                    <small class="text-muted">
                        {{ field.help_text }}
                    </small>
                {% endif %}
                {% if field.errors %}
                    <small style="color:red">
                        {{ field.errors }}
                    </small>
                {% endif %}
            </div>
    </div>
    {% endfor %}
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="changepassword" type="submit" class="btn btn-primary">Change My Password</button>
        </div>
    </div>
</form>

{% endblock %}
