<div class="form-group row">
        <label for="id_{{ field.name }}" class="col-4 col-form-label">{{ field.label }}</label>
        <div class="col-8">
        {% if field.name == 'username' %}
            <div class="input-group"> 
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                {{ field }}
            </div>
            {% include 'extra/field_errors.html' %}
        {% else %}
            {{ field }}
            {% include 'extra/field_errors.html' %}
        {% endif %}
        </div>
</div>