{% extends "base.html" %}

{% block title %}Developer agreement{% endblock %}

{% block content %}

<h2 class="mb-3">Developer agreement</h2>
    Please, read agreement carefully.
    <ul>
        <li>You understand that your uploaded games become the property of our Gamestore.</li>
        <li>We have the authority to make decisions about deleting and blocking your games.</li>
        <li>You must add an appropriate age limit for your games. The minimum age limit is 3 years.</li>
        <li>You are entitled to receive payments for the games purchases.</li>
        <li>If you delete your profile, your private information will be hidden for other users.</li>
        <li>If you delete your profile, we continue selling your games.</li>
        <li>If you delete your profile, you cannot receive payments for the games purchases.</li>
    </ul>


{% endblock %}