{% extends "base.html" %}

{% block title %}Edit game{% endblock %}

{% block content %}

<h2 class="mb-3">Edit game</h2>
<form method="post">{% csrf_token %}
    {% for field in form %}
        {% include 'extra/game_field.html' %}
    {% endfor %}
    <hr class="mb-3">
    <div class="d-flex justify-content-around">
      <div class="col-md-3">
        <button name="deletegame" type="submit" class="btn btn-danger btn-block">Delete game</button>
      </div>
      <div class="col-md-5 offset-md-2">
        <button name="updategame" type="submit" class="btn btn-primary btn-block">Update game</button>
      </div>
    </div>
  </form>


{% endblock %}