{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Sales statistics{% endblock %}

{% block content %}
<h2 class="mb-3">Sales statistics</h2>

<script>

    $(document).ready(function () {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container'
            },
            title: {
                text: 'Games purchase statistics by date'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: 'Time'
                },
                labels: {
                    enabled: true
                }
            },
            yAxis: {
                title: {
                    text: 'Number of games purchased'
                }
            }
        });
        {% for game_data in games_data %}
            var chartData = [];
            {% for purchase in game_data.purchases %}
                xyPair = [];
                xyPair[0] = "{{ purchase.0 }}";
                xyPair[1] = {{ purchase.1 }};
                chartData.push(xyPair);
            {% endfor %}
            chart.addSeries({
                data: chartData,
                name: "{{ game_data.game.name }}"
            });
        {% endfor %}
    });
</script>
<div>
    <br>
    {% if games_data %}
        <div id="container" style="height: 400px"></div>
        <br>
        <h3>Total sales</h3>
        <br>
        <table class="table">
          {% for game_data in games_data %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/games/{{ game_data.game.id }}">{{ game_data.game.name }}</a></td>
                <td>{{ game_data.game.total }}</td>
              </tr>
          {% endfor %}
          <tr>
              <th scope="col"></th>
              <th scope="col">Total</th>
              <th scope="col">{{ total_purchases }}</th>
          </tr>
        </table>

    {% else %}
        <p>You have no uploaded games yet</p>
    {% endif %}
</div>



{% endblock %}