{% extends "base.html" %}

{% block title %}Restore account{% endblock %}

{% block content %}

<h2 class="mb-3">Activate account</h2>
<p>You can activate your account if you deleted it before.</p>
<br>
<form method="post">{% csrf_token %}
  {% if error %}
      <small style="color:red">
        {{ error }}
      </small>
    {% endif %}
  <div class="mb-3">
      <label for="username">Username</label>
      <div class="input-group"> 
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
          <input type="text" class="form-control" id="username" placeholder="Username" maxlength="50" value="{{username|default_if_none:""}}" name="username">
      </div>
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" maxlength="50" value="{{password|default_if_none:""}}" name="password">
    </div>
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <button type="submit" class="btn btn-primary btn-block">Activate</button>
        <div class="my-3">
            <span>Forgot password? <a href="/reset_password">Reset your password</a></span><br>
            <span>New here? <a href="/signup">Signup</a></span>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

