{% extends "base.html" %}

{% block title %}Set a new password{% endblock %}

{% block content %}

<h2 class="mb-3">Set a new password</h2>
<form method="post">{% csrf_token %}
  <div class="mb-3">
    
    {% for field in form %}
    <label for="id_{{ field.name }}">
          {{ field.label }}
    </label>
    <div class="input-group">
        {{ field }}
    </div>
    {% include 'extra/field_errors.html' %}
    {% endfor %}
    </div>
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <button type="submit" class="btn btn-primary btn-block">Set new password</button>
      </div>
    </div>
  </form>
{% endblock %}

