{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<h2 class="mb-3">Registration</h2>
<form method="post">{% csrf_token %}
    {% for field in form %}
        {% include 'extra/profile_field.html' %}
    {% endfor %}
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-5 offset-md-6">
        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
        <div class="my-3">
            <span>Already a user? <a href="/login">Login</a></span>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

