{% extends "base.html" %}

{% block title %}User agreement{% endblock %}

{% block content %}

<h2 class="mb-3">User agreement</h2>
    Please, read agreement carefully.
    <ul>
        <li>You understand that we can store and process your data.</li>
        <li>You provide your real personal data.</li>
        <li>We do not distribute your information outside of our service.</li>
        <li>You can see on the profile page what your information is available to other users.</li>
        <li>We have the authority to make decisions about deleting and blocking your account.</li>
        <li>You are able to change your role on profile page (Player, Developer).</li>
        <li>As a developer you can add games, sale them and track sales statistics.</li>
        <li>If you delete your profile, your username and scores are the only information that visible for other users.</li>
        <li>If you delete your profile, you can restore your account during a year.</li>
        <li>We remove all your data from our database a year after you delete your account.</li>
    </ul>

{% endblock %}