{% extends "base.html" %}

{% block title %}Edit game{% endblock %}

{% block content %}

<h2>Edit game</h2>
<form method="post" action="">{% csrf_token %}
    {% for field in form %}
        {% include 'extra/field.html' %}
    {% endfor %}
    <hr class="mb-3">
    <div class="row">
      <div class="col-md-6 offset-md-6">
        <button name="updategame" type="submit" class="btn btn-primary btn-block">Submit</button>
        <button name="deletegame" type="submit" class="btn btn-danger btn-block">Delete game</button>
      </div>
    </div>
  </form>


{% endblock %}